page-home {

    .toolbar-background {
        background: transparent;
        border-color: transparent;
      }
    .no-scroll .scroll-content{
        overflow: hidden;
   }
    h3 {
        padding-left: 1rem;
    }
    h2 {
        padding-left: 1rem;
    }
    p {
        padding-left: 1rem;
    }
    .combobox {
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 8px;
        border: none;
        margin-top: 10px;   
    }
    ion-card {
        border-radius: 8px;
        border: solid color($colors, primary);
    }



      
}